@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700&display=swap');
@import "tailwindcss";

/* Optional global styles */
/* *{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
} */

body {
  font-family: 'Inter', sans-serif;
  background-color: white;
  color: rgb(17 24 39);
  min-height: 100vh;
  transition: background-color 0.3s ease, color 0.3s ease;
}

.dark body {
  background-color: rgb(17 24 39);
  color: rgb(243 244 246);
}
